.field {
	@apply mb-4;
	> label {
		> span {
			@apply opacity-80 mb-2 pl-1;
		}
		> input {
			@apply w-full outline-none pl-3 py-2.5 bg-gray-500 rounded-md opacity-80;
		}
	}
	.error {
		color: red;
		opacity: 0.8;
		font-size: 14px;
		text-align: right;
	}
	.fieldError {
		border: 1px solid red;
	}
}
