.header {
	@apply flex items-center  mb-10;

	.info {
		@apply flex flex-col overflow-hidden;
		> p:first-child {
			@apply opacity-80 mb-8 pt-5 text-base uppercase sm4:mb-5;
		}
		> h1 {
			@apply text-5xl leading-normal  mb-8 text-ellipsis overflow-hidden whitespace-nowrap xl:text-2xl xl3:text-xl sm4:mb-6 sm5:text-sm;
		}
		> p:last-child {
			word-spacing: 3px;
			@apply opacity-80 text-sm flex items-center;
			> a {
				@apply flex items-center;
				> img {
					@apply mx-2 rounded-full;
				}
			}
			> a:first-child {
				> img {
					@apply mx-0 mr-2;
				}
			}
			> a:last-child {
				@apply mr-2;
			}
		}
	}
}
.avatar {
	background-color: #282828;
	@apply mr-8 relative rounded-full min-w-[240px] min-h-[240px] xl3:min-w-[180px] xl3:min-h-[180px] sm2:mr-4 sm3:min-h-[120px] sm3:min-w-[120px];
	.shadow {
		background-color: rgba(51, 49, 45, 0.4);
		transition: all 0.2s ease;
		@apply rounded-full absolute top-0 left-0 w-full h-full z-2 opacity-0;
	}
	> img {
		@apply rounded-full h-full object-cover;
	}
	> svg {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90px;
		height: 90px;
		fill: #7f7f7f;
		transition: all 0.2s ease;
		@apply absolute xl3:w-16 xl3:h-16 sm4:w-12 sm4:h-12 sm3:w-8 sm3:h-8;
	}
	.edit {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.4s ease;
		@apply w-full absolute flex flex-col items-center opacity-0 z-3;
		> svg {
			@apply w-12 h-12 xl3:w-8 xl3:h-8 sm3:w-6 sm3:h-6;
		}
		> p {
			@apply xl3:text-sm text-center sm3:text-xs;
		}
	}
}
.avatar:hover {
	> svg {
		@apply opacity-0;
	}
	.edit,
	.shadow {
		@apply opacity-100;
	}
}
.modal {
	background-color: rgba(5, 5, 5, 0.6);
	@apply fixed top-0 left-0 w-full h-full hidden z-50;
	> div {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@apply absolute bg-gray-700 p-10 rounded-lg w-[550px] sm3:w-[300px] sm3:p-8;
		> form {
			@apply sm3:flex-col;
		}
		> form,
		div {
			@apply flex justify-between items-center;
			.avatar {
				width: 180px;
				height: 180px;
			}
			> div {
				@apply flex flex-col sm3:mr-0;
				> button {
					@apply bg-white text-black rounded-2xl py-3 w-40 ml-auto sm3:w-full;
				}
			}
		}
		> div:first-child {
			@apply mb-5;
			> p {
				@apply text-lg opacity-80;
			}
			> span {
				> svg {
					transition: all 0.4s ease;
					@apply cursor-pointer w-5 h-5 opacity-70;
				}
				:hover {
					@apply opacity-100;
				}
			}
		}
	}
}
.settings {
	> div {
		@apply relative;
		> svg {
			@apply opacity-100 h-8 w-8;
		}
		> div {
			@apply left-1;
		}
	}
}
